launch:
  - node:
      pkg: "conti_ars430_ros2"
      exec: "conti_ars430_ros2_node"
      name: "conti_ars430_node"
      namespace: "conti_ars430"
      param:
      - 
        name: "multicast_ip"
        value: "225.0.0.1"
      -
        name: "local_ip"
        value: "192.168.1.10"
      -
        name: "local_port"
        value: "31122"
      -
        name: "radar_detection_image_topic"
        value: "radar_detection_image"
      -
        name: "radar_scan_topic"
        value: "radar_scan"
      -
        name: "radar_status_topic"
        value: "radar_status"
